
@layer base {
    @font-face {
        font-family: 'Manrope';
        src: url('/src/assets/fonts/Manrope-Regular.ttf');
        font-weight: 400;
        font-style: normal;
    }
}

@import "tailwindcss";

@theme {
    --font-manrope: 'Manrope', sans-serif;
}
body {
    font-family: var(--font-manrope);
}




